<div fxLayout = "row" fxLayoutAlign="center">
    <div flLaout = "column" fxFlex = "1000px">
        <form class="mt=60" #clientesFrm="ngForm">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class=" mt-20">
                    <div fxLaout = "row" fxLaoutAlign="start" fxLaoutGap="16px">
                       <mat-form-field class="full-width">
                            <mat-label>Nome: *</mat-label>
                            <input type="text" placeholder="Ex Antonio dos Santos" matInput/>
                       </mat-form-field> 
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
